footer {
    background-color: #7c7D80 !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    margin-bottom: 0;
    padding-bottom: 1px;
    z-index: 1000;
    border-top: 4px solid #087EA4;
    text-align: center;
}