input{
    border: 1px solid gray!important;
    border-radius: 25px!important;
    height:2rem!important;
    margin-top:20px!important;
    padding-left:10px!important;
    &:focus{
        box-shadow: 5px 5px 3px rgb(185, 185, 185)!important;
        background-color: white!important;
    }
}
